.text-center h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 100%;
  transition: 0.2s;
}

.text-center h1:active {
  background-color: rgb(201, 201, 201);
  color: black;
}
.row {
  height: 10rem;
}
.col-2,
.col-8 {
  padding: 0px;
  margin: 0px;
}

.col-8 h1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  font-size: 4rem;
  padding: 1rem;
}
